.Budget{
    /* height:60vh; */
    /* width:80%; */
    border-radius: 25px;
    /* border:2px solid rgb(47, 164, 227); */
    box-shadow: 2px 2px 5px rgba(149, 149, 149, 0.558);
    background-color: white;
    /* backdrop-filter: blur(30px); */
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 600px;
    max-width: 70vw;
    overflow-x: hidden;

}
.graph-div input{
    background-color: #111;
    margin:5px 0;
    padding:5px;
}
.graph-div button{
    padding:5px;
    background-color: rgb(35, 182, 240);
    border-radius: 5px;
    border:none;
    color:white
}
.graph-div{
    padding :20px;
    width:60%;
    min-width: 400px;
    height:100%;
    /* border-right:1px solid black; */
    display: flex;
    flex-direction: column;
    gap:20px
}
/* .graph-div div{
    height:200px;
    width: 200px;
} */
.graph-div img{
    height: 150px;
    width: 50px;
}
.info {
    padding:10px;
    width:40%;
    min-width: 300px;
}
.info #blnce{
    position: relative;
    
    margin:10px 0px;
}
.info #blnce::after{
    content: "+1";
    position: absolute;
    background-color: red;
    border-radius: 7px;
    padding:2px 4px;
    margin-left: 5px;
    color:white
}
.info .msges{
    border-radius: 10px;
    border: 1px solid rgb(34, 202, 31);
    padding:20px;
    margin-top: 20px;
}
.msges div{
    color:rgb(65, 185, 65);
}
.expend{
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
    padding:10px 40px;
    border:2px solid rgb(199, 185, 185);
}

.emi{
    border: 1px solid rgb(170, 166, 35);
    padding:10px;
    max-width: 100%;
    
}
.item{
    background-color: rgb(162, 218, 240);
    padding:5px;
    border-radius: 5px;
}
.emi h4{
    color: yellow;
}
.emi div{
    margin: 10px;
}
.graph-div img{
    width:50%;
    
}
.item{
    margin: 5px 0px;
}


.dark-Budget{

    color:white;
    border-radius: 0;
    box-shadow :inset 10px 10px 20px rgba(149, 149, 149, 0.138);
    background:linear-gradient(to right bottom ,rgb(39, 39, 39),rgb(0, 0, 0));
    border: 2px solid; border-image: linear-gradient(to right, red, yellow, green, blue) 1;
}
.dark-Budget .item{
    background-color: rgb(57, 57, 57);
}
.dark-Budget button, .dark-Budget input{
    background: linear-gradient(0deg, black,black);
    border: 1px solid rgb(0, 157, 255);
    color:white;
    
}
