.Budget{
    height:60vh;
    width:80%;
    border-radius: 25px;
    /* border:2px solid rgb(47, 164, 227); */
    box-shadow: 2px 2px 5px rgba(149, 149, 149, 0.558);
    background-color: white;
    display: flex;

}
.graph-div{
    width:60%;
    height:100%;
    border-right:1px solid black
}
.info {
    padding:10px;
    width:40%
}
.info #blnce{
    position: relative;
    margin:10px 0px;
}
.info #blnce::after{
    content: "+1";
    position: absolute;
    background-color: red;
    border-radius: 7px;
    padding:2px 4px;
    margin-left: 5px;
    color:white
}
.info .msges{
    border: 1px solid rgb(34, 202, 31);
    padding:20px;
    margin-top: 20px;
}
.expend{
    width: 100%;
    margin-top: 30px;
    padding:10px 40px;
    border:2px solid rgb(199, 185, 185);
}
.dark-Budget{
    background:linear-gradient(to right bottom ,grey,rgb(40, 40, 40))

}