.Budget{
    /* height:60vh; */
    /* width:80%; */
    border-radius: 25px;
    /* border:2px solid rgb(47, 164, 227); */
    box-shadow: 2px 2px 5px rgba(149, 149, 149, 0.558);
    background-color: rgba(255, 255, 255, 0.525);
    backdrop-filter: blur(30px);
    display: flex;
    position: relative;
    height: 600px;
    max-width: 70vw;

}
.graph-div{
    padding :20px;
    width:60%;
    height:100%;
    border-right:1px solid black;
    display: flex;
    flex-direction: column;
    gap:20px
}
/* .graph-div div{
    height:200px;
    width: 200px;
} */
.graph-div img{
    height: 150px;
    width: 50px;
}
.info {
    padding:10px;
    width:40%
}
.info #blnce{
    position: relative;
    
    margin:10px 0px;
}
.info #blnce::after{
    content: "+1";
    position: absolute;
    background-color: red;
    border-radius: 7px;
    padding:2px 4px;
    margin-left: 5px;
    color:white
}
.info .msges{
    border-radius: 10px;
    border: 1px solid rgb(34, 202, 31);
    padding:20px;
    margin-top: 20px;
}
.msges div{
    color:rgb(65, 185, 65);
}
.expend{
    width: 100%;
    border-radius: 10px;
    margin-top: 30px;
    padding:10px 40px;
    border:2px solid rgb(199, 185, 185);
}

.emi{
    border: 1px solid rgb(170, 166, 35);
    padding:10px
    
}
.emi h4{
    color: yellow;
}
.emi div{
    margin: 10px;
}
.graph-div img{
    width:50%;
    
}
.item{
    margin: 5px 0px;
}


.dark-Budget{
    color:white;
    box-shadow :inset 10px 10px 20px rgba(149, 149, 149, 0.138);
    background:linear-gradient(to right bottom ,rgb(41, 41, 41),rgb(40, 40, 40));

}
