.Home{

    background-color: rgb(14, 143, 194);
    background: url("/home-bg.jpg");
    
    background-size: cover;
    height: 100%;
    width:100vw;
    padding:0 0 0 0;
    overflow-x: hidden;
    z-index: 0;
    
}
nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    gap:30px;
    align-items: baseline ; z-index:5;
    padding:0 2% 20px 2%;
    font-size: 25px;
    font-weight: 700;
    color: white;
    
}
.ri-more-2-line{
    position: relative;
    cursor: pointer;
}

 .menu{
    border-radius: 10px;
    width:300px;
    height:60px;
    color:black;
    background-color:white;
    border:1.5px solid rgba(0, 183, 255, 0.489);
  
    position: absolute;
    top:40px;
    right:10px;
    cursor: pointer;

 }
 .menu img,.ri-sun-line{
    border-radius: 50%;
    /* background-color :white; */
    height:25px;
    top:15px;
    position:absolute
    ;left: 10px;
 }
 .menu span{
    height:25px;
    top:15px;
    position:absolute
    ;left: 10px;
    font-weight: 100;
    font-size: 20px;
    margin-left: 40px;
 }
#head{
    position: relative;
    /* font-size: 10px; */
    top: 15vh;
   
    width: 20vw;
   
    margin: 10px 10px 100px 10px;
    padding:10px ;
    font-weight: 100;
    font-size: 60px;
    color:#fff;
    text-shadow: 0 0 5px rgba(242, 241, 241, 0.351);
   
}
.container-1{
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    gap:5vw;
    margin-right: 5%;
    padding-left: 5%;
    position: relative;
    
}
.container-1 .title{
    position: absolute;
    left:20vw;
}


.container-2{
    margin:200px 5vw 30px 10vw ;
 
    padding-left: 5%;


    margin-left: 30vw;
}

.dark-home{
    box-shadow: inset 0px 0px 20px #97cbff58;
    background: linear-gradient(0deg,black,rgb(28, 28, 28));
     
}
.quote{
    font-weight:100;
}
.dark-home nav{
    color:rgb(220, 220, 220)
}
.dark-home #head{
    color:rgb(220, 220, 220)
}
.dark-home .menu{
    background-color:rgb(5, 5, 5);
   
    box-shadow:inset 0px 0px 10px #97cbff58;

    color: white;
}
@media(max-width:1015px){
    .container-2{
        width: 90vw;
        max-width: 90vw;
        margin-left: 50px;
    }
    #head{
        font-size: 40px;
    }
}
@media (max-width:540px){
    .quote{
        display: none;
    }
}